.content{
  display: flex;
  flex-wrap:nowrap ;
}
.item{
    width: 24%;
    border: 1px solid red;
}
/*xl*/
@media( min-width: 1140px){
    .item{
       background-color: blue ;
    }
}
/* laptop */
@media( max-width:1139px){
    .item{
       background-color:aquamarine ;
    }
}
/*tablet*/
@media( max-width: 750px){
    .item{
        width: 33%;
       background-color: green ;
    }
}
/*mobile*/
@media( max-width: 600px){
    .item{
       background-color: yellow;
    }
}
